{% include "AppHeader.html" %}

<div class="row">
    <div class="col-md-12">
        <form action="" method="GET">
            <!-- {% csrf_token %} -->
            <div>
                <label for="">Query</label>
                <br/>
                <br/>
                <input type="text" name="Question" class="form-control"/>

            </div>
            <br/>
            <div class="pt-4">
                <button type="submit">Search</button>

            </div>

        </form>

    </div>
</div>